@import url('https://fonts.googleapis.com/css?family=Arimo');
@import url('https://fonts.googleapis.com/css?family=Roboto');


h1 {
  font-family: 'Arimo', sans-serif;
}

p, a, label, h2, h3, h4, li {
  font-family: 'Roboto', sans-serif;
  color: white;
}

html, body {
  margin: 0px;
  background-color: rgb(54, 54, 54);
}

header {
  width: 100%;
  background-color: rgb(17, 152, 222);
  padding: 50px 0px;
  text-align: center;
  color: white;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

a {
  text-decoration: none;
}

main {
  overflow: auto;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px 15px;
}

.box {
  background: white;
  color: black;
  text-decoration: none;
  position: relative;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 5px 15px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.box:hover {
  background: rgb(244, 244, 244);
}

.box p {
  color: black
}

.box .description {
  display: none;
}

.box .languages {
  font-style: italic;
  display: none;
}

.box svg {
  position: absolute;
  top: 20px;
  right: 30px;
  padding: 0 5px;;
}

.show-less {
  display: none;
}
